anyio
annotated-types
click
fastapi
h11
idna
numpy
pandas
proxy_tools
pydantic
pydantic_core
python-dateutil
python-multipart
six
starlette
typing-inspection
typing_extensions
uvicorn
websockets
pywebview[qt]
pyinstaller
pythonnet  